.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.meSection {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
    max-width: 700px;
    width: 100%;
    text-align: justify;
    gap: 1rem;
}

.socialList {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    margin-bottom: 2rem;
}

.title {
    font-family: "Comic Relief", system-ui;
    font-size: 3rem;
    font-weight: 700;
    color: #ff24a0;
}

.text {
    font-size: 1rem;
    color: #000000;
    text-align: right;
}

@media (min-width: 1024px) {
    .introduction {
        width: 95%;
    }
    .socialList {
        width: 80%;
    }
}
