.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.meSection {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;
    max-width: 600px;
    width: 100%;
    text-align: justify;
    gap: 1rem;
}

.contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 1rem;
    width: 90%;
}

.socialList {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.title {
    font-family: "Comic Relief", system-ui;
    font-size: 3rem;
    font-weight: 700;
    color: #ff24a0;
}

.text {
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: #000000;
}
